html {
  padding: 40px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
}

a {
  text-decoration: underline;
  color: #5a8a05;
}
